{% extends 'layouts/application.njk' %}

{% block content %}

<div class="o-wrapper  o-wrapper--vertical-spacing">

  <!-- Container for switch now React app -->
  <div class="u-min-height c-switch-app kogan-style" data-module="SwitchApp">
    {% include "shared/loading.njk" %}
  </div>

</div><!-- o-wrapper -->

{% endblock %}
