<article class="c-card c-card--small c-card--powerpack">
  <div class="c-card__background-image"></div>
  <div class="c-card__body">
    <h3 class="c-card__heading">Power saver</h3>
    <footer class="c-card-footer">
      <p>Save off your Auto Pay rates with the added bonus of buying as much or as little as you want, any time you want.</p>
    </footer>
  </div>
</article>