<!-- Your Powershop journey section -->
<section class="o-panel o-panel--no-top-spacing s-cms-content">

  <!-- grid layout 3 columns -->
  <article class="o-grid-layout o-grid-layout--powershop-experience">

    <!-- row 1 -->
    <!-- column 1 -->
    <div></div>
    <!-- column 2 -->
    <h2>Your Powershop journey</h2>
    <!-- column 3 -->
    <div></div>

    <!-- row 2 -->
    <!-- column 1 -->
    <div></div>
    
    <!-- column 2 and 3 -->
    <figure class="o-grid-layout__image-scroll dragscroll" data-module="HorizontalScroll"><!-- column 2 -->
      <div class="c-card__powershop-experience">
        <p class="c-card--powershop-experience-number">1</p>
        <p class="c-card--powershop-experience-text">5 minutes to switch <br />and you're green to go</p>
        <img src="/images/powershop-experience/ps-experience-image-1.svg" alt="" class="" />
      </div>
      <div class="c-card__powershop-experience">
        <p class="c-card--powershop-experience-number">2</p>
        <p class="c-card--powershop-experience-text">Keep track of your energy with <br />our app and online tools</p>
        <img src="/images/powershop-experience/ps-experience-image-2.svg" alt="" class="" />
      </div>
      <div class="c-card__powershop-experience">
        <p class="c-card--powershop-experience-number">3</p>
        <p class="c-card--powershop-experience-text">Pay your bills <br />your way</p>
        <img src="/images/powershop-experience/ps-experience-image-3.svg" alt="" class="" />
      </div>
      <div class="c-card__powershop-experience">
        <p class="c-card--powershop-experience-number">4</p>
        <p class="c-card--powershop-experience-text">Feel the good vibes because <br />you're supporting renewable <br />energy in Australia</p>
        <img src="/images/powershop-experience/ps-experience-image-4.svg" alt="" class="" />
      </div>
    </figure>

    <!-- row 3 -->
    <!-- column 1 -->
    <div></div>

    <!-- column 2 -->
    <dl>
        <dd><strong>Mouse &mdash;</strong> Click and drag to scroll.</dd>
        <dd><strong>Keyboard &mdash;</strong> Arrow left/right to scroll.</dd>
        <dd><strong>Touch &mdash;</strong> Swipe to scroll...</dd>
    </dl>

    <!-- column 3 -->
    <div></div>

    <!-- row 4 -->
    <!-- column 1 -->
    <div></div>

    <!-- column 2 -->
    

    <!-- column 3 -->
    <div></div>
  </article>
</section>