<!-- Powerpacks section -->
<section class="o-panel o-panel--no-top-spacing s-cms-content u-margin-bottom-zero">

  <!-- grid layout 3 columns -->
  <div class="o-grid-layout o-grid-layout--powershop-experience">

    <!-- row 1 -->
    <!-- column 1 -->
    <div></div>
    <!-- column 2 -->
    <div class="u-7/12@desktop">
      <h2>But how do I track my usage?</h2>
      <p class="u-spacing-bottom-large">Keep tabs on your energy use with our handy app and online tools. From tracking peak power periods to buying Powerpacks, you can manage your account on-the-go and pay your energy bills your way.</p>
    </div>
    <!-- column 3 -->
    <div></div>
  </div>

  <!-- grid layout 3 columns -->
  <div class="o-grid-layout o-grid-layout--track-usage o-grid-layout--centered">
    <!-- row 1 -->
    
    <!-- column 1 --><!-- phone image -->
    {% include "shared/ps-experience/track-usage-phone.njk" %}

    <!-- column 2 --><!-- arrow -->
    {% include "shared/ps-experience/track-usage-arrow.njk" %}

    <!-- column 3 --><!-- phone image -->
    {% include "shared/ps-experience/track-usage-phone.njk" %}

    <!-- column 4 --><!-- arrow -->
    {% include "shared/ps-experience/track-usage-arrow.njk" %}

    <!-- column 5 --><!-- phone image -->
    {% include "shared/ps-experience/track-usage-phone.njk" %}
  </div>

</section>

<section class="o-panel">
  
  <div class="o-wrapper">
    
    <div class="o-layout">
      
      <div class="o-layout__item">
        
        <ul class="c-badges">
          <li>
            <img src="images/app-store.png" alt="" />
          </li>
          <li>
            <img src="images/google-play.png" alt="" />
          </li>
        </ul>
        
      </div><!-- o-layout__item -->
      
    </div><!-- o-layout -->
    
  </div><!-- o-wrapper -->
  
</section>