<!-- Ways to pay section -->
<section class="o-panel o-panel--no-top-spacing s-cms-content u-margin-bottom-zero">

  <!-- grid layout 3 columns -->
  <div class="o-grid-layout o-grid-layout--powershop-experience">

    <!-- row 1 -->
    <!-- column 1 -->
    <div></div>
    <!-- column 2 -->
    <div class="u-7/12@desktop">
      <h2>Ways to pay your bill</h2>
      <p class="u-spacing-bottom-large">Nobody likes bill time, so we've made it super simple to pay. Whether you're a fan of auto payments or a bargain hunter. Whatever you prefer, we’ve got you covered. Check out our payment options below to start paying your bills your way.</p>
    </div>
    <!-- column 3 -->
    <div></div>
  </div>

  <!-- grid layout 6 columns -->
  <div class="o-grid-layout o-grid-layout--powershop-experience o-grid-layout--ways-to-pay-your-bill">
    <!-- row 1 -->
    <!-- left -->
    <!-- column 1 --><!-- left -->
    <div></div>

    <!-- icon powerpacks -->
    <!-- column 2 --><!-- icon -->
    <div>
      <svg viewBox="0 0 62 70" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round">
            <g id="3.1_WhyPowershop_ThePSExperience_LGE_2" transform="translate(-212.000000, -1444.000000)" stroke="#FA0E6A">
                <g id="Icon/Zap/Base" transform="translate(203.000000, 1439.000000)">
                    <g id="zap" transform="translate(10.000000, 6.666667)">
                        <polygon id="Shape" stroke-width="2" points="33.3333333 0 0 40 30 40 26.6666667 66.6666667 60 26.6666667 30 26.6666667"></polygon>
                    </g>
                </g>
            </g>
        </g>
      </svg>
    </div>

    <!-- column 3 --><!-- gap -->
    <div></div>

    <!-- powerpacks content -->
    <!-- column 4 --><!-- content -->
    <div>
      <h4>Powerpacks</h4>
      <p>Powerpacks let you use your power to take control of your bill. The idea is simple. Buy a Powerpack to cover your past, current or future energy usage. The savings get bigger the further ahead you buy. But it doesn't stop there, we've got packs to help your community, the environment and themed packs to make saving even more fun.</p>
    </div>

    <!-- column 5 --><!-- right -->
    <div></div>

    <!-- column 6 --><!-- left -->
    <div></div>

    <!-- icon direct debit -->
    <!-- column 6 --><!-- icon -->
    <div>
      <svg viewBox="0 0 76 56" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round">
              <g id="3.1_WhyPowershop_ThePSExperience_LGE_2" transform="translate(-878.000000, -1447.000000)" stroke="#FA0E6A">
                  <g id="Icon/CreditCard/Base" transform="translate(876.000000, 1435.000000)">
                      <g id="credit-card-copy" transform="translate(3.333333, 13.333333)">
                          <rect id="Rectangle-path" stroke-width="2" x="0" y="0" width="73.3333333" height="53.3333333" rx="2"></rect>
                          <path d="M0,20 L73.3333333,20" id="Shape" stroke-width="2"></path>
                      </g>
                  </g>
              </g>
          </g>
      </svg>
    </div>

    <!-- column 7 --><!-- gap -->
    <div></div>

    <!-- direct debilt content -->
    <!-- column 7 --><!-- content -->
    <div>
      <h4>Direct debit</h4>
      <p>Use our Auto Pay option and we'll automatically direct debit your account to cover your usage every month. Want to save more off your bill? Download our app and buy Powerpacks for extra savings off present and future bills.</p>
    </div>

    <!-- column 8 --><!-- right -->
    <div></div>
  </div>
</section>