<section class="o-panel o-panel--no-top-spacing">
	<article>
		<h4>A bit about Powershop</h4>
		<p>We were established in Australia in 2014 as the retail business of Meridian Energy Australia, launched to turn the energy industry on its head - putting customers’ needs and experiences first by giving customers control of their energy, so they can save more and make a difference.</p>
		<p>Powershop is the only energy retailer to be certified 100% carbon neutral against the National Carbon Offset Standard, and has been ranked by Greenpeace as the greenest power company in Australia for three years running.</p>
		<p>Powershop has partnered with Museums Victoria as part of ongoing efforts to work towards a sustainable future.</p>
	</article>
</section>