<section class="o-panel o-panel--no-top-spacing">
	<article>
		<h4>Powershop’s Wind Farms</h4>
		<p>Powershop is backed by a 100 per cent renewable energy company <a href="https://meridianenergy.com.au/" target="_blank">Meridian Energy</a>, which operates the Mt Mercer and Mt Millar Wind Farms.</p>
		<p>Mt Mercer produces enough energy to power the entire Ballarat population – that’s around 80,000 households.</p>
		<p>Mt Millar can generate up to 70 MW of electricity – enough to power around 36,000 households.</p>
	</article>
</section>