<section class="o-panel o-panel--no-top-spacing">
	<article>
		<h4>What is a Wind Farm?</h4>
		<img src="images/mv/windfarm.svg" />
		<p>Wind farms are simply areas of land dedicated to generating energy using Wind Turbines. Groups of individual wind turbines are connected to the electricity grid (find out more about “The Grid” below). The land between the turbines is sometimes used for agricultural purposes too. A large-scale wind farm might have hundreds of wind turbines spread over hundreds of square kilometres.</p>
		<div class="c-grid--two-column">
			<figure class="c-video" data-module="Video">
			  <div class="c-video__inner" data-video>
			    <iframe src="https://www.youtube.com/embed/p7tSZ7P9qrE" frameborder="0" allowfullscreen></iframe>
			  </div>
			  <figcaption class="c-video__caption">
			    <p>caption here for the vid</p>
			  </figcaption>
			</figure>
			<figure class="c-video" data-module="Video">
			  <div class="c-video__inner" data-video>
			    <iframe src="https://www.youtube.com/embed/p7tSZ7P9qrE" frameborder="0" allowfullscreen></iframe>
			  </div>
			  <figcaption class="c-video__caption">
			    <p>caption here for the vid</p>
			  </figcaption>
			</figure>
		</div>
	</article>
</section>