<section class="o-panel o-panel--no-top-spacing">
	<article>
		<h4>Wind you know?</h4>
		<ol>
			<li>Wind farms don’t have to be on land. They can also be on the ocean. This is called Offshore Wind Power.</li>
			<li>Wind is always named after the direction it comes from. A breeze blowing from the south is a ‘southerly’.</li>
			<li>Modern wind turbines are not noisy. They make a whooshing sound that from a distance of 250 metres sounds about as loud as a refrigerator. The wind itself often makes more noise. <a href="https://www.greenbizcafe.com/game/help/opportunity_wind.php" target="_blank">greenbizcafe.com/game/help/opportunity_wind.php</a></li>
    		<li>The largest wind turbine in the world is in Hawaii. It is 220m tall, which is the equivalent of a 20 storey building with blades the length of a football field!</li>
    	</ol>
	</article>
</section>