<article class="c-card c-card--small c-card--powerpack c-card--asset" data-module="Powerpacks">
    <div class="c-card__details-hidden c-card__details-hidden-how-to-use-info" style="background-color: ">
    	<p>Take a look at how much you spend per day on energy via the app or your online account. Then calculate how many days of energy you’d like the Powerpack to cover. For example, if you’re wanting to cover a week’s worth of power and you’re using about $4 per day, you’ll want to buy $28 worth of the Powerpack. This Powerpack also gives you the flexibility to buy as much or as little as you want.</p>
    	<button class="powerpack-back">Back</button>
    </div>
        
    <div class="c-card__background-image" style="background-image: url('https://meridianenergy.com.au/wp-content/uploads/2014/03/mt-millar-01-600x600.jpg');"></div>
    
        <div class="c-card__details">
    	<div class="c-card__details-inner c-card__details-green">
            <span class="arrow-click arrow-right" data-powerpack-toggle="right">
                <div class="c-card__details-inner-left">
        			<!-- asset icon -->
                    <svg version="1.1" id="leaves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 500 100" style="enable-background:new 0 0 500 100;" xml:space="preserve">
                      <path class="leaf" d="M14.9,87.6c-7.2-9.7-8.6-39.7,10.8-54S71.9,21.3,84.5,7.4c2.7,21.6,3.8,44.9-12,62.4 C59.8,83.7,40,85.9,23.3,92.6c0-10,2.3-27.3,31.3-48.7C18.7,62.3,14.9,87.6,14.9,87.6z"></path>
                    </svg>
                    <!-- more info text -->
                    <div class="c-card__details-more">
                        <p>More info</p>
                        <svg viewBox="0 0 1 1"><use xlink:href="images/icons.svg#arrow-right"></use></svg>
                    </div>
                </div>
            </span>
        </div>
    </div>
    
    <div class="c-card__body">
    	<h3 class="c-card__heading">Mt Millar Wind Farm</h3>
    	<small>(Owned by Meridian)</small>
    	<footer class="c-card-footer">
    		<p>Save extra off your bill by purchasing this energy savvy Powerpack. You can buy as little or as much as you want, any time you want and enjoy savings off your Auto Pay rates.</p>
    	</footer>
    </div>
</article>