<!-- Powerpacks section -->
<section class="o-panel o-panel--no-top-spacing s-cms-content u-margin-bottom-zero">



  <!-- grid layout 2 columns -->
  <div class="o-grid-layout o-grid-layout--powerpacks-detailed o-grid-layout--assets-detailed o-grid-layout--centered">
    {% include "shared/renewable-assets/card-asset-detailed.njk" %}
    {% include "shared/renewable-assets/card-asset-detailed.njk" %}
    {% include "shared/renewable-assets/card-asset-detailed.njk" %}
    {% include "shared/renewable-assets/card-asset-detailed.njk" %}
    {% include "shared/renewable-assets/card-asset-detailed.njk" %}
    {% include "shared/renewable-assets/card-asset-detailed.njk" %}
  </div>
</section>