{#
  Tertiary nav for standard content pages
 #}
<div class="c-accordion  is-active" data-module="Accordion">
  <h2 data-accordion-toggle>Renewable Energy <div class="c-accordion__icon"><svg viewBox="0 0 1 1"><use xlink:href="images/icons.svg#chevron-down"></use></svg></div></h2>
  <ul>
    <li><a href="/blog.html">Powershop blog</a></li>
    <li><a href="#">Demand reponse - curb your power</a></li>
    <li><a href="#">What happens when you switch?</a></li>
    <li><a href="#">Smart meters</a></li>
    <li><a href="#">Our partners</a></li>
    <li><a href="#">Get $75 power free - Switch your mates</a></li>
    <li><a href="#">Carbon Neutral PDS</a></li>
  </ul>
</div>