{#
  Tertiary nav for standard content pages
 #}
<div class="c-accordion  is-active" data-module="Accordion">
  <h2 data-accordion-toggle>Categories <div class="c-accordion__icon"><svg viewBox="0 0 1 1"><use xlink:href="images/icons.svg#chevron-down"></use></svg></div></h2>
  <ul>
    <li><a href="#" class="is-active">All</a></li>
    <li><a href="#">Pages</a></li>
    <li><a href="#">Blog posts</a></li>
  </ul>
</div>