<div class="c-breadcrumbs">
  <span xmlns:v="http://rdf.data-vocabulary.org/#">
    <span typeof="v:Breadcrumb">
      <a href="http://powershop.local/" rel="v:url" property="v:title">Home</a> /
      <span class="breadcrumb_last">Standard Content</span>
    </span>
  </span>
</div>