<div class="c-input">
  <label class="c-input-label" for="full-name">Full name</label>
  <input class="c-input-text" id="full-name" type="text" />
</div>
<div class="c-input">
  <label class="c-input-label" for="email">Email</label>
  <input class="c-input-text" id="email" type="email" />
</div>
<div class="c-input">
  <label class="c-input-label" for="phone">Phone no.</label>
  <input class="c-input-text" id="phone" type="text" />
</div>
<div class="c-input">
  <div class="c-checkbox">
    <input class="c-checkbox__input" id="terms" type="checkbox">
    <label class="c-checkbox__label" for="terms">I agree to the <a href="#">&nbsp;Terms &amp; Conditions</a></label>
  </div>
</div>
<div class="c-input  c-input">
  <button class="c-btn  c-btn--icon-right  c-btn--chunky  c-btn--full  c-btn--pink" type="submit" name="button">Send  <svg viewBox="0 0 1 1"><use xlink:href="images/icons.svg#arrow-right"></use></svg></button>
</div>