<article class="c-card  c-card--split  c-card--small">
  <a href="#">
    <figure class="c-card__fig  c-card__fig--with-image">
      <picture>
        <source srcset="/images/online-saver.png" media="(min-width: 768px)" />
        <img srcset="/images/online-saver-mobile.png" alt="" />
      </picture>
    </figure>
    <div class="c-card__body" data-match-height>
      <h3 class="c-card__heading">Online saver</h3>
      <footer class="c-card-footer">
        <p>Lorem ipsum dolor sit a met, consectetur adipiscing elit. Etiam vita e mollis est, quis com modo urna. Suspendisse ultrices vehicula pharetra.</p>
        <span class="c-card-footer__icon">
          <svg viewBox="0 0 1 1"><use xlink:href="images/icons.svg#arrow-right"></use></svg>
        </span>
      </footer>
    </div>
  </a>
</article>