<article class="c-cta  u-bg-pink-to-purple">
  <div class="o-wrapper">

      <header class="c-cta__title">
        <h2>Ready to make the switch?</h2>
      </header>

      <div class="c-cta__content">
        <div class="c-cta__content-main">
          <p>Switch your electricity to Powershop via this page and not only will you get a $25 credit once your switch is complete, we will also make a financial contribution to Hepburn Wind, enabling them to continue their integral work in greening the Hepburn community.</p>
        </div>

        <p class="u-font-p4">* This promotion has some <a href="#">terms and conditions</a></p>

        <div class="c-checkbox  c-checkbox--center  c-checkbox--alt">
					<input class="c-checkbox__input" id="accept-terms" type="checkbox">
					<label class="c-checkbox__label" for="accept-terms">I accept the terms and conditions of this promotion</label>
				</div>
      </div>

      <footer class="c-cta__actions">
        <a href="/switch-now.html" class="c-btn  c-btn--chunky  c-btn--icon-right  c-btn--full@mobile">Join now <svg viewBox="0 0 1 1"><use xlink:href="images/icons.svg#arrow-right"></use></svg></a>
      </footer>

  </div>
</article>