<article class="c-cta  u-bg-pink-to-purple">
  <div class="o-wrapper">
    <header class="c-cta__title">
      <h2>Ready to make the switch?</h2>
    </header>

    <footer class="c-cta__actions">
      <a href="#" class="c-btn  c-btn--chunky  c-btn--icon-right  c-btn--full@mobile">Join now <svg viewBox="0 0 1 1"><use xlink:href="images/icons.svg#arrow-right"></use></svg></a>
    </footer>
  </div>
</article>