<dl class="c-faqs" data-module="Faqs">
  <dt data-faqs-toggle aria-expanded="false">Why have Powershop partnered with Hepburn Wind? <span class="c-faqs__toggle-icon"><svg viewBox="0 0 1 1"><use xlink:href="images/icons.svg#chevron-down"></use></svg></span></dt>
  <dd>
    <p>The Hepburn Wind Community Green Product is a 100% GreenPower product available in the Powershop shop to customers who sign-up via the Hepburn Wind campaign page. All LGCs associated with this product will be sourced from the Hepburn Wind Farm.</p>
  </dd>
  <dt data-faqs-toggle aria-expanded="false">What does this partnership mean for Hepburn Wind? <span class="c-faqs__toggle-icon"><svg viewBox="0 0 1 1"><use xlink:href="images/icons.svg#chevron-down"></use></svg></span></dt>
  <dd>
    <p>The Hepburn Wind Community Green Product is a 100% GreenPower product available in the Powershop shop to customers who sign-up via the Hepburn Wind campaign page. All LGCs associated with this product will be sourced from the Hepburn Wind Farm.</p>
  </dd>
  <dt data-faqs-toggle aria-expanded="false">What’s the benefit of signing up with Powershop? <span class="c-faqs__toggle-icon"><svg viewBox="0 0 1 1"><use xlink:href="images/icons.svg#chevron-down"></use></svg></span></dt>
  <dd>
    <p>The Hepburn Wind Community Green Product is a 100% GreenPower product available in the Powershop shop to customers who sign-up via the Hepburn Wind campaign page. All LGCs associated with this product will be sourced from the Hepburn Wind Farm.</p>
  </dd>
  <dt data-faqs-toggle aria-expanded="false">I am already a Powershop customer, how do I make sure I am supporting Hepburn Wind? <span class="c-faqs__toggle-icon"><svg viewBox="0 0 1 1"><use xlink:href="images/icons.svg#chevron-down"></use></svg></span></dt>
  <dd>
    <p>The Hepburn Wind Community Green Product is a 100% GreenPower product available in the Powershop shop to customers who sign-up via the Hepburn Wind campaign page. All LGCs associated with this product will be sourced from the Hepburn Wind Farm.</p>
    <p>The Hepburn Wind Community Green Product is a 100% GreenPower product available in the Powershop shop to customers who sign-up via the Hepburn Wind campaign page. All LGCs associated with this product will be sourced from the Hepburn Wind Farm.</p>
  </dd>
</dl>