<footer class="c-footer  c-footer--flush">
  <div class="c-footer__site-info">
    <div class="o-wrapper">
      <ul class="c-social">
        <li>
          <a href="#" class="c-social__facebook">
            <span class="u-hidden-visually">Facebook</span>
            <svg viewBox="0 0 1 1"><use xlink:href="images/icons.svg#facebook"></use></svg>
          </a>
        </li>
        <li>
          <a href="#" class="c-social__twitter">
            <span class="u-hidden-visually">Twitter</span>
            <svg viewBox="0 0 1 1"><use xlink:href="images/icons.svg#twitter"></use></svg>
          </a>
        </li>
        <li>
          <a href="#" class="c-social__youtube">
            <span class="u-hidden-visually">You Tube</span>
            <svg viewBox="0 0 1 1"><use xlink:href="images/icons.svg#youtube"></use></svg>
          </a>
        </li>
        <li>
          <a href="#" class="c-social__linked-in">
            <span class="u-hidden-visually">Linked In</span>
            <svg viewBox="0 0 1 1"><use xlink:href="images/icons.svg#linked-in"></use></svg>
          </a>
        </li>
        <li>
          <a href="#" class="c-social__instagram">
            <span class="u-hidden-visually">Instagram</span>
            <svg viewBox="0 0 1 1"><use xlink:href="images/icons.svg#instagram"></use></svg>
          </a>
        </li>
      </ul>

      <p class="c-footer__copyright"><img src="images/winky-rgb.png" alt="Powershop" />&copy; 2018 Powershop Australia Pty Ltd ABN 41 154 914 075</p>
    </div><!-- c-footer__site-info -->
  </div><!-- o-wrapper -->
</footer>