<footer class="c-footer">

  <div class="o-wrapper  o-wrapper--no-padding@tablet">

    <div class="c-footer__main">
      <div class="c-footer__nav-col">
        <nav class="c-footer-nav" data-module="Footer">
          <div class="c-footer-nav__col" data-footer-accordion>
            <h2 data-footer-accordion-toggle>Powershop <div class="c-footer-nav__icon"><svg viewBox="0 0 1 1"><use xlink:href="images/icons.svg#chevron-down"></use></svg></div></h2>
            <ul>
              <li><a href="#">About us</a></li>
              <li><a href="/blog.html">Powershop blog</a></li>
              <li><a href="#">Our partners</a></li>
              <li><a href="#">Solar information</a></li>
              <li><a href="#">Get $75 power free - switch a mate</a></li>
              <li><a href="#">Curb your power - demand reponse</a></li>
            </ul>
          </div>
          <div class="c-footer-nav__col" data-footer-accordion>
            <h2 data-footer-accordion-toggle>Help <div class="c-footer-nav__icon"><svg viewBox="0 0 1 1"><use xlink:href="images/icons.svg#chevron-down"></use></svg></div></h2>
            <ul>
              <li><a href="#">What happens when you switch</a></li>
              <li><a href="#">Powerpacks explained</a></li>
              <li><a href="#">Smart meters</a></li>
              <li><a href="#">Payment help</a></li>
              <li><a href="#">Life support</a></li>
              <li><a href="#">Moving house</a></li>
              <li><a href="#">Pay a bill</a></li>
              <li><a href="#">Sitemap</a></li>
            </ul>
          </div>
          <div class="c-footer-nav__col" data-footer-accordion>
            <h2 data-footer-accordion-toggle>Important stuff <div class="c-footer-nav__icon"><svg viewBox="0 0 1 1"><use xlink:href="images/icons.svg#chevron-down"></use></svg></div></h2>
            <ul>
              <li><a href="#">Energy Price Fact Sheets</a></li>
              <li><a href="#">Terms and conditions</a></li>
              <li><a href="#">Privacy policy</a></li>
              <li><a href="#">Collections statement</a></li>
              <li><a href="#">Credit reporting policy</a></li>
              <li><a href="#">Hardship policy</a></li>
              <li><a href="#">Concessions</a></li>
              <li><a href="#">Refunds</a></li>
              <li><a href="#">Fees</a></li>
              <li><a href="#">Carbon Neutral PDS</a></li>
            </ul>
          </div>
        </nav>
      </div><!-- c-footer__nav-col -->

      <div class="c-footer__info">
        <div class="c-footer__info-item">
          <h2>Contact Us</h2>
          <p>Call 1800 462 668 and talk to a real person, <a href="#">email us</a> or see all the other ways to get in touch on our <a href="#">contact us page</a>.</p>
        </div>

        <div class="c-footer__info-item">
          <h2>Complaints</h2>
          <p>We welcome your <a href="#">feedback or complaints</a>. We are also a member of the Ombudsman schemes in all areas that we operate.</p>
        </div>

        <div class="c-footer__info-item">
          <h2>Faults</h2>
          <p>In the event of a fault or power outage, contact your local distributor listed on our <a href="#">contact us page</a>.</p>
        </div>
      </div><!-- c-footer__info -->

    </div><!-- c-footer__main -->

  </div><!-- o-wrapper -->

  <div class="c-footer__site-info">
    <div class="o-wrapper">
      <ul class="c-social">
        <li>
          <a href="#">
            <span class="u-hidden-visually">Facebook</span>
            <svg viewBox="0 0 1 1"><use xlink:href="images/icons.svg#facebook"></use></svg>
          </a>
        </li>
        <li>
          <a href="#">
            <span class="u-hidden-visually">Twitter</span>
            <svg viewBox="0 0 1 1"><use xlink:href="images/icons.svg#twitter"></use></svg>
          </a>
        </li>
        <li>
          <a href="#">
            <span class="u-hidden-visually">You Tube</span>
            <svg viewBox="0 0 1 1"><use xlink:href="images/icons.svg#youtube"></use></svg>
          </a>
        </li>
        <li>
          <a href="#">
            <span class="u-hidden-visually">Linked In</span>
            <svg viewBox="0 0 1 1"><use xlink:href="images/icons.svg#linked-in"></use></svg>
          </a>
        </li>
        <li>
          <a href="#">
            <span class="u-hidden-visually">Instagram</span>
            <svg viewBox="0 0 1 1"><use xlink:href="images/icons.svg#instagram"></use></svg>
          </a>
        </li>
      </ul>

      <p class="c-footer__copyright"><img src="images/winky-rgb.png" alt="Powershop" />&copy; 2018 Powershop Australia Pty Ltd <br>ABN &zwj;41 &zwj;154 &zwj;914 &zwj;075</p>
    </div><!-- c-footer__site-info -->
  </div><!-- o-wrapper -->
</footer>