<section class="o-layout  u-ui-section">
  <div class="o-layout__item  u-1/1">
    <h2 class="u-font-h5  u-ui-heading">Jotform form embed Curb Your Power<code>.c-form</code></h2>
    <h3 class="u-font-h6  u-ui-heading-small">Text input <code>.c-input-text</code></h3>
    <div class="u-ui-note">Wrap each for field in <code>.c-input</code></div>
  </div>
</section>
<!-- wrap jotform in bordered and centered wrapper -->
<div class="c-form c-form--bordered c-form--centered">
  <!-- the form - straight from jotform embed source code -->
  <script src="https://cdn.jotfor.ms/static/prototype.forms.js" type="text/javascript"></script>
<script src="https://cdn.jotfor.ms/static/jotform.forms.js?3.3.6676" type="text/javascript"></script>
  

<form data-module="FormCurbPower" class="jotform-form" action="https://submit.jotformpro.com/submit/72770100731951/" method="post" name="form_72770100731951" id="72770100731951" accept-charset="utf-8">
  <input type="hidden" name="formID" value="72770100731951" /> 
  <div class="form-all">
    <ul class="form-section page-section">
      <li class="form-line jf-required" data-type="control_radio" id="id_13">
        <label class="form-label form-label-top form-label-auto" id="label_13" for="input_13"> Are you an existing customer in Victoria? <span class="form-required"> * </span> </label> 
        <div id="cid_13" class="form-input-wide jf-required">
          <div class="form-single-column" data-component="radio"> <span class="form-radio-item" style="clear:left"> <span class="dragger-item"> </span> <input type="radio" class="form-radio validate[required]" id="input_13_0" name="q13_areYou" value="Yes" required="" /> <label id="label_input_13_0" for="input_13_0"> Yes </label> </span> <span class="form-radio-item" style="clear:left"> <span class="dragger-item"> </span> <input type="radio" class="form-radio validate[required]" id="input_13_1" name="q13_areYou" value="No" required="" /> <label id="label_input_13_1" for="input_13_1"> No </label> </span> </div>
        </div>
      </li>
      <li class="form-line always-hidden form-field-hidden" style="display:none;" data-type="control_text" id="id_14">
        <div id="cid_14" class="form-input-wide always-hidden">
          <div id="text_14" class="form-html" data-component="text">
            <p>The Curb Your Power program is currently only open to Powershop customers in Victoria.</p>
            <p>To join Powershop, click the Join Now button above.</p>
            <p>Already a Powershop customer, but still want to curb your power? Make sure you have a smart meter so you can use our app and usage tools to monitor your usage.</p>
            <p><a href="https://www.powershop.com.au/smart-meter-request/" target="_blank">Click here to get a smart meter.</a></p>
          </div>
        </div>
      </li>
      <li class="form-line form-field-hidden" style="display:none;" data-type="control_textbox" id="id_5">
        <label class="form-label form-label-top form-label-auto" id="label_5" for="input_5"> First name </label> 
        <div id="cid_5" class="form-input-wide"> <input type="text" id="input_5" name="q5_firstName" data-type="input-textbox" class="form-textbox" size="20" value="" data-component="textbox" /> </div>
      </li>
      <li class="form-line form-field-hidden" style="display:none;" data-type="control_textbox" id="id_4">
        <label class="form-label form-label-top form-label-auto" id="label_4" for="input_4"> Last name </label> 
        <div id="cid_4" class="form-input-wide"> <input type="text" id="input_4" name="q4_lastName" data-type="input-textbox" class="form-textbox" size="20" value="" data-component="textbox" /> </div>
      </li>
      <li class="form-line form-field-hidden" style="display:none;" data-type="control_email" id="id_3">
        <label class="form-label form-label-top form-label-auto" id="label_3" for="input_3"> Email </label> 
        <div id="cid_3" class="form-input-wide"> <span class="form-sub-label-container" style="vertical-align:top"> <input type="email" id="input_3" name="q3_email" class="form-textbox validate[Email]" size="30" value="" data-component="email" /> <label class="form-sub-label" for="input_3" style="min-height:13px"> example@example.com </label> </span> </div>
      </li>
      <li class="form-line form-field-hidden" style="display:none;" data-type="control_textbox" id="id_7">
        <label class="form-label form-label-top form-label-auto" id="label_7" for="input_7"> Contact number </label> 
        <div id="cid_7" class="form-input-wide"> <input type="text" id="input_7" name="q7_contactNumber7" data-type="input-textbox" class="form-textbox" size="20" value="" data-component="textbox" /> </div>
      </li>
      <li class="form-line form-field-hidden" style="display:none;" data-type="control_radio" id="id_9">
        <label class="form-label form-label-top form-label-auto" id="label_9" for="input_9"> Is there someone at home usually between these hours </label> 
        <div id="cid_9" class="form-input-wide">
          <div class="form-single-column" data-component="radio"> <span class="form-radio-item" style="clear:left"> <span class="dragger-item"> </span> <input type="radio" class="form-radio" id="input_9_0" name="q9_isThere" value="10am to 4pm" /> <label id="label_input_9_0" for="input_9_0"> 10am to 4pm </label> </span> <span class="form-radio-item" style="clear:left"> <span class="dragger-item"> </span> <input type="radio" class="form-radio" id="input_9_1" name="q9_isThere" value="4pm to 10pm" /> <label id="label_input_9_1" for="input_9_1"> 4pm to 10pm </label> </span> <span class="form-radio-item" style="clear:left"> <span class="dragger-item"> </span> <input type="radio" class="form-radio" id="input_9_2" name="q9_isThere" value="Both of these times" /> <label id="label_input_9_2" for="input_9_2"> Both of these times </label> </span> </div>
        </div>
      </li>
      <li class="form-line form-field-hidden" style="display:none;" data-type="control_radio" id="id_10">
        <label class="form-label form-label-top form-label-auto" id="label_10" for="input_10"> Do you have an appliance that runs for long periods of time i.e. pool pump, spa heater, etc. that can be easily turned on and off again? </label> 
        <div id="cid_10" class="form-input-wide">
          <div class="form-single-column" data-component="radio"> <span class="form-radio-item" style="clear:left"> <span class="dragger-item"> </span> <input type="radio" class="form-radio" id="input_10_0" name="q10_doYou" value="Yes" /> <label id="label_input_10_0" for="input_10_0"> Yes </label> </span> <span class="form-radio-item" style="clear:left"> <span class="dragger-item"> </span> <input type="radio" class="form-radio" id="input_10_1" name="q10_doYou" value="No" /> <label id="label_input_10_1" for="input_10_1"> No </label> </span> </div>
        </div>
      </li>
      <li class="form-line form-field-hidden" style="display:none;" data-type="control_radio" id="id_11">
        <label class="form-label form-label-top form-label-auto" id="label_11" for="input_11"> Is there any reason why turning off certain appliances would be harmful to you or anyone at your home? </label> 
        <div id="cid_11" class="form-input-wide">
          <div class="form-single-column" data-component="radio"> <span class="form-radio-item" style="clear:left"> <span class="dragger-item"> </span> <input type="radio" class="form-radio" id="input_11_0" name="q11_isThere11" value="Yes" /> <label id="label_input_11_0" for="input_11_0"> Yes </label> </span> <span class="form-radio-item" style="clear:left"> <span class="dragger-item"> </span> <input type="radio" class="form-radio" id="input_11_1" name="q11_isThere11" value="No" /> <label id="label_input_11_1" for="input_11_1"> No </label> </span> </div>
        </div>
      </li>
      <li class="form-line always-hidden form-field-hidden" style="display:none;" data-type="control_text" id="id_15">
        <div id="cid_15" class="form-input-wide always-hidden">
          <div id="text_15" class="form-html" data-component="text">
            <p>Unfortunately you won't be able to participate in our Curb You Power demand response program because turning off certain appliances would be harmful to you or someone at your home.</p>
          </div>
        </div>
      </li>
      <li class="form-line always-hidden form-field-hidden" style="display:none;" data-type="control_textbox" id="id_8">
        <label class="form-label form-label-top form-label-auto" id="label_8" for="input_8"> Customer ID </label> 
        <div id="cid_8" class="form-input-wide always-hidden"> <input type="text" id="input_8" name="q8_customerId" data-type="input-textbox" class="form-textbox" size="20" value="" data-component="textbox" /> </div>
      </li>
      <li class="form-line jf-required form-field-hidden" style="display:none;" data-type="control_checkbox" id="id_12">
        <label class="form-label form-label-top form-label-auto" id="label_12" for="input_12_0"> I agree to the terms and conditions. <span class="form-required"> * </span> </label> 
        <div id="cid_12" class="form-input-wide jf-required">
          <div class="form-single-column" data-component="checkbox"> <span class="form-checkbox-item" style="clear:left"> <span class="dragger-item"> </span> <input type="checkbox" class="form-checkbox validate[required]" id="input_12_0" name="q12_iAgree[]" value="I agree" required="" /> <label id="label_input_12_0" for="input_12_0"> I agree </label> </span> </div>
        </div>
      </li>
      <li class="form-line form-field-hidden" style="display:none;" data-type="control_button" id="id_2">
        <div id="cid_2" class="form-input-wide">
          <div class="form-buttons-wrapper"> <button id="input_2" type="submit" class="form-submit-button" data-component="button"> Submit </button> </div>
        </div>
      </li>
      <li style="display:none"> Should be Empty: <input type="text" name="website" value="" /> </li>
    </ul>
  </div>
  <script> JotForm.showJotFormPowered = "0"; </script> <input type="hidden" id="simple_spc" name="simple_spc" value="72770100731951" /> <script type="text/javascript"> document.getElementById("si" + "mple" + "_spc").value = "72770100731951-72770100731951"; </script>
</form>






	<script type="text/javascript">JotForm.ownerView=true;</script>
</div>