<header class="c-header" data-module="Header" data-header-simple="true"><!-- @NOTE: Use data-header-simple="true" when there is no navigation -->
  <div class="c-header__inner c-header__inner-campaign">
    
    <div class="c-header__top">
      <a href="/" class="c-header__logo"><img src="images/Powershop_Logo_RGB.png" alt="Powershop"></a>
      <a href="http://powershop.com.au" class="c-header__logo-right c-btn  c-btn--pink  c-btn--icon-right">Join now <svg viewBox="0 0 1 1"><use xlink:href="images/icons.svg#arrow-right"></use></svg></a>
    </div>
    
    <div class="c-header__nav">

      <nav class="c-subnav">
        <ul>
          <li class="c-subnav__button">
            <a href="http://powershop.com.au" class="c-btn  c-btn--pink  c-btn--icon-right">
              Join now <svg viewBox="0 0 1 1"><use xlink:href="images/icons.svg#arrow-right"></use></svg>
            </a>
          </li>
        </ul>
      </nav>

      
    </div><!-- c-header__nav -->
  
  </div><!-- c-header__inner -->
</header>