<section class="o-section">
  <header class="c-section-heading">
    <h2 class="c-section-heading__title">A responsible <span>power</span> company</h2>
  </header>
  
  <div class="o-halves" data-module="MobileToggle">
    <div class="o-halves__item">
      
      <div class="c-image-and-text">
        <div class="c-image-and-text__image">
          <svg viewBox="0 0 1 1"><use xlink:href="images/icons.svg#{{ iconSection[0].icon }}"></use></svg>
        </div>
        <div class="c-image-and-text__content">
          <h3 class="c-image-and-text__title">{{ iconSection[0].title }}</h3>
          <p>{{ iconSection[0].content }}</p>
        </div>
      </div>
      
      <div class="c-image-and-text">
        <div class="c-image-and-text__image">
          <svg viewBox="0 0 1 1"><use xlink:href="images/icons.svg#{{ iconSection[1].icon }}"></use></svg>
        </div>
        <div class="c-image-and-text__content">
          <h3 class="c-image-and-text__title">{{ iconSection[1].title }}</h3>
          <p>{{ iconSection[1].content }}</p>
        </div>
      </div>
      
      <div class="c-image-and-text">
        <div class="c-image-and-text__image">
          <svg viewBox="0 0 1 1"><use xlink:href="images/icons.svg#{{ iconSection[2].icon }}"></use></svg>
        </div>
        <div class="c-image-and-text__content">
          <h3 class="c-image-and-text__title">{{ iconSection[2].title }}</h3>
          <p>{{ iconSection[2].content }}</p>
        </div>
      </div>
    </div><!-- o-halves__item -->
    
    <div class="o-halves__item" data-showhide-id="icon-section">
      <div class="c-image-and-text">
        <div class="c-image-and-text__image">
          <svg viewBox="0 0 1 1"><use xlink:href="images/icons.svg#{{ iconSection[3].icon }}"></use></svg>
        </div>
        <div class="c-image-and-text__content">
          <h3 class="c-image-and-text__title">{{ iconSection[3].title }}</h3>
          <p>{{ iconSection[3].content }}</p>
        </div>
      </div>
      
      <div class="c-image-and-text">
        <div class="c-image-and-text__image">
          <svg viewBox="0 0 1 1"><use xlink:href="images/icons.svg#{{ iconSection[4].icon }}"></use></svg>
        </div>
        <div class="c-image-and-text__content">
          <h3 class="c-image-and-text__title">{{ iconSection[4].title }}</h3>
          <p>{{ iconSection[4].content }}</p>
        </div>
      </div>
      
      <div class="c-image-and-text">
        <div class="c-image-and-text__image">
          <svg viewBox="0 0 1 1"><use xlink:href="images/icons.svg#{{ iconSection[5].icon }}"></use></svg>
        </div>
        <div class="c-image-and-text__content">
          <h3 class="c-image-and-text__title">{{ iconSection[5].title }}</h3>
          <p>{{ iconSection[5].content }}</p>
        </div>
      </div>
    </div><!-- o-halves__item -->
    
    <div class="u-text-center  u-hide@desktop-only">
      <button class="c-btn  c-btn--outlined  c-btn--small" data-showhide="icon-section" data-showhide-text="See less" data-showhide-original-text="See more">See more</button>
    </div>
    
  </div><!-- o-halves -->
  
</section>