<ul class="c-pagination-list">
  <li class="c-pagination-list__item  is-active">1</li>
  <li><a href="#" class="c-pagination-list__item" title="Page 2">2</a></li>
  <li class="c-pagination-list__item  is-disabled"><svg viewBox="0 0 1 1"><use xlink:href="images/icons.svg#more-horizontal"></use></svg></li>
  <li><a href="#" class="c-pagination-list__item" title="Page 8">8</a></li>
  <li>
    <a href="#" class="c-pagination-list__item" title="Next page">
      <svg viewBox="0 0 1 1"><use xlink:href="images/icons.svg#chevron-right-double"></use></svg>
      <span class="u-hidden-visually">Next page</span>
    </a>
  </li>
</ul>