<div class="rating-wrapper">
  <div id="contentRating" class="rc-rating">
    <p id="toggleRating" class="u-font-p1">
        <span class="text">Was this helpful?</span>
    </p>
    <div id="entryRating" class="rc-rating-content active">
        <div class="errors" id="ratingErrors"></div>
        <!-- choice container -->
        <div class="c-rating-container c-radio">
          <input type="radio" name="ratingValue" value="1" id="rating1" class="c-radio__input">
          <label for="rating1" class="c-radio__label">Yes</label>

          <input type="radio" name="ratingValue" value="-1" id="rating-1" class="c-radio__input">
          <label for="rating-1" class="c-radio__label">No</label>
        </div>

        <button class="c-btn c-btn--outlined c-btn--outlined--pink c-btn--full@mobile" type="button" data-rate="4442" id="submitRating">Submit</button>
    </div>
  </div>
</div>

<hr />

<div id="contentRating" class="rc-rating">

  <p id="toggleRating" class="active u-font-p1">
      <span class="text">Thank You for Your Rating!</span>
  </p>
  <div id="entryRating" class="rc-rating-content">
      <div class="errors" id="ratingErrors"></div>
      <input type="radio" name="ratingValue" value="1" id="rating1">
      <label for="rating1">Yes</label>

      <input type="radio" name="ratingValue" value="-1" id="rating-1">
      <label for="rating-1">No</label>
      <button type="button" data-rate="4218" id="submitRating">Submitting...</button>
  </div>
</div>