
<div class="c-search" data-search>
  <form action="#" method="post">
    <fieldset>
      <legend class="u-hidden-visually">Search this site</legend>
      
      <a href="#" class="c-search__close-icon-mobile" data-search-toggle>
        <svg viewBox="0 0 1 1"><use xlink:href="images/icons.svg#arrow-left"></use></svg>
      </a>
      
      <div class="c-search__input">
        <svg class="c-search__input-icon" viewBox="0 0 1 1"><use xlink:href="images/icons.svg#search"></use></svg>
        
        <input type="text" name="search" placeholder="Type something and hit enter">
        
        <a href="#" class="c-search__close-icon" data-search-toggle>
          <svg viewBox="0 0 1 1"><use xlink:href="images/icons.svg#cross"></use></svg>
        </a>
      </div>
    </fieldset>
  </form>
  <div class="c-search__bg" data-search-toggle></div>
</div><!-- c-search -->