<article class="c-text-and-image">
  <figure>
    <img src="images/iou-phone-landscape_720.png" alt="" /> <!-- @NOTE: Will need to crop these in the CMS -->
  </figure>
  <div class="c-text-and-image__content">
    <p class="c-text-and-image__meta">Posted in <a href="#">tips</a> on <a href="#">Powershop blog</a> - <time datetime="2017-10-18">Oct 18, 2017</time></p>
    <h3 class="c-text-and-image__title"><a href="#">Powerpacks: How to buy now and pay later</a></h3>
    <p>Seen a Powerpack you want to buy but can't afford it right now? Well, you don't have to miss out on savings if your budget is temporarily a bit tight. It's all about the payment method you choose when you buy a Powerpack. The default option is to complete the transaction using your preferred payment&hellip;</p>
  </div>
</article>