<figure class="c-video" data-module="Video">
  <div class="c-video__inner" data-video>
    <iframe src="https://www.youtube.com/embed/rzM7R6Vzp4s" frameborder="0" allowfullscreen></iframe>
  </div>
  <figcaption class="c-video__caption">
    <p>Find out more about why Tim Flannery switched to Powershop</p>
  </figcaption>
</figure>